 <!-- ABOUT -->
 <section class="home__about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="title__leading">
                    <!-- <h6 class="text-uppercase">trusted By thousands</h6> -->
                    <h2 class="text-capitalize">{{ title }} </h2>
                    {{ markdown }}
                    <a href="#" class="btn btn-primary mt-3 text-capitalize">{{ cta }}
                        <i class="fa fa-angle-right ml-3 "></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about__image">
                    <div class="about__image-top">
                        <div class="about__image-top-hover">
                            <img src="{{ first_image }}" alt="" class="img-fluid">
                        </div>

                    </div>
                    <div class="about__image-bottom">
                        <div class="about__image-bottom-hover">
                            <img src="{{ second_image }}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END ABOUT -->