<!-- BLOG -->
<section class="blog__home bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="title__head">
                    <h2 class="text-center text-capitalize">
                        {{ title }}
                    </h2>
                    <p class="text-center text-capitalize">{{ description }}</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            {{ cards }}
            <div class="col-md-4">
                <!-- BLOG  -->
                <div class="card__image">
                    <div class="card__image-header h-250">
                        <img src="{{ body_image }}" alt="" class="img-fluid w100 img-transition">
                        <div class="info"> {{ category }}</div>
                    </div>
                    <div class="card__image-body">
                        <!-- <span class="badge badge-secondary p-1 text-capitalize mb-3">May 08, 2019 </span> -->
                        <h6 class="text-capitalize">
                            <a href='{{ body_link }}'>{{ body_cta_link }} </a>
                        </h6>
                        <p class=" mb-0">
                            {{ card_description }}

                        </p>


                    </div>
                    <div class="card__image-footer">
                        <figure>
                            <img src="{{ footer_image }}" alt="" class="img-fluid rounded-circle">
                        </figure>
                        <ul class="list-inline my-auto">
                            <li class="list-inline-item ">
                                <a href="{{ footer_link }}">
                                    {{ footer_cta }}    
                                </a>

                            </li>

                        </ul>
                        <ul class="list-inline my-auto ml-auto">
                            <li class="list-inline-item ">
                                <a class='btn btn-sm btn-primary ' href='{{ button_cta }}'><small class="text-white ">read more <i class="{{ button_icon }}"></i></small></a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- END BLOG -->
            </div>
            {{ /cards }}
        </div>
    </div>
</section>
<!-- END BLOG -->