<!-- CALL TO ACTION -->
<section class="cta-v1 py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9">
                <h2 class="text-uppercase text-white">{{ title }}</h2>
                <p class="text-capitalize text-white">{{description}}
                </p>

            </div>
            <div class="col-lg-3">
                <a href="{{cta_link}}" class="btn btn-light text-uppercase ">{{cta}}
                    <i class="fa fa-angle-right ml-3 arrow-btn "></i></a>
            </div>
        </div>
    </div>
</section>
<!-- END CALL TO ACTION -->