 <!-- CAROUSEL HOMEPAGE 3 -->
 <div class="homepage__property bg-light">
    <div class="homepage__property-carousel owl-carousel owl-theme">
        {{carousel}}
        <div class="item">
            <a href="{{link}}">
                <div class="tc-image-caption4">
                    <img src="{{image}}" alt="img1">
                    <div class="caption">
                        <h6 class="text-uppercase text-white">{{first_heading}}</h6>
                        <h2 class="text-capitalize">{{second_heading}}</h2>
                        <p>{{description}}</p>
                    </div>

                </div>
            </a>
        </div>
      
        {{/carousel}}

    </div>

</div>
<!-- END CAROUSEL HOMEPAGE 3 -->