<!-- FEATURED PROPERTIES -->
<section class="featured__property bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="title__head">
                    <h2 class="text-center text-capitalize">
                       {{ title }}
                    </h2>
                    <p class="text-center text-capitalize">{{ description }}</p>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="featured__property-carousel owl-carousel owl-theme">
                    {{ cards }}
                    <div class="item">
                        <!-- FIVE -->
                        <div class="card__image card__box">
                            <div class="card__image-header h-250">
                                <div class="ribbon text-capitalize">{{ card_title }}</div>
                                <img src="{{ card_image }}" alt="" class="img-fluid w100 img-transition">
                                <div class="info">{{ card_info }} </div>
                            </div>
                            <div class="card__image-body">
                                <span class="badge badge-primary text-capitalize mb-2">{{ property }}</span>
                                <h6 class="text-capitalize">
                                    <a href="{{ property_link }}">{{ second_title }}</a>
                                </h6>

                                <p class="text-capitalize">
                                    <i class="fa fa-map-marker"></i>
                                    {{ description }}
                                </p>
                                <ul class="list-inline card__content">
                                    {{ utilities }}
                                    <li class="list-inline-item">

                                        <span>
                                            {{ title }} <br>
                                            <i class="fa fa-bath"></i> {{ number }}
                                        </span>
                                    </li>
                                    {{ /utilities }}
                                </ul>
                            </div>
                            <div class="card__image-footer">
                                <figure>
                                    <img src="{{ footer_image }}" alt="" class="img-fluid rounded-circle">
                                </figure>
                                <ul class="list-inline my-auto">
                                    <li class="list-inline-item">
                                        <a href="{{ link }}">
                                            {{ agent_name }}
                                        </a>

                                    </li>

                                </ul>
                                <ul class="list-inline my-auto ml-auto">
                                    <li class="list-inline-item ">
                                        <h6>{{ amount }}</h6>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    {{ /cards }}

                </div>
            </div>
        </div>

    </div>
</section>