 <!-- POPULAR CITY -->
 <section class="popular__city-large">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="title__head">
                    <h2 class="text-center text-capitalize">
                        {{first_heading}}
                    </h2>
                    <p class="text-center text-capitalize">{{ description }}</p>
                </div>
            </div>

        </div>
        <div class="row">
            {{cards}}
            <div class="col-md-6 col-lg-3">
                <!-- CARD IMAGE -->
                <a href="{{link}}">
                    <div class="card__image-hover-style-v3">
                        <div class="card__image-hover-style-v3-thumb h-230">
                            <img src="{{image}}" alt="" class="img-fluid w-100">
                        </div>
                        <div class="overlay">
                            <div class="desc">
                                <h6 class="text-capitalize">{{title}}</h6>
                                <p class="text-capitalize">{{description}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{/cards}}
        </div>
    </div>
</section>
<!-- END POPULAR CITY -->