 <!-- POPULAR CITY -->
 <section class="popular__city-large">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="title__head">
                    <h2 class="text-center text-capitalize">
                        popular city
                    </h2>
                    <p class="text-center text-capitalize">Find Properties In These Cities.</p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <!-- CARD IMAGE -->
                <a href="#">
                    <div class="card__image-hover-style-v3">
                        <div class="card__image-hover-style-v3-thumb h-230">
                            <img src="images/city4.jpg" alt="" class="img-fluid w-100">
                        </div>
                        <div class="overlay">
                            <div class="desc">
                                <h6 class="text-capitalize">australia</h6>
                                <p class="text-capitalize">70 properties</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <!-- CARD IMAGE -->
                <a href="#">
                    <div class="card__image-hover-style-v3">
                        <div class="card__image-hover-style-v3-thumb h-230">
                            <img src="images/city5.jpg" alt="" class="img-fluid w-100">
                        </div>
                        <div class="overlay">
                            <div class="desc">
                                <h6 class="text-capitalize">australia</h6>
                                <p class="text-capitalize">70 properties</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <!-- CARD IMAGE -->
                <a href="#">
                    <div class="card__image-hover-style-v3">
                        <div class="card__image-hover-style-v3-thumb h-230">
                            <img src="images/city6.jpg" alt="" class="img-fluid w-100">
                        </div>
                        <div class="overlay">
                            <div class="desc">
                                <h6 class="text-capitalize">australia</h6>
                                <p class="text-capitalize">70 properties</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <!-- CARD IMAGE -->
                <a href="#">
                    <div class="card__image-hover-style-v3">
                        <div class="card__image-hover-style-v3-thumb h-230">
                            <img src="images/city7.jpg" alt="" class="img-fluid w-100">
                        </div>
                        <div class="overlay">
                            <div class="desc">
                                <h6 class="text-capitalize">australia</h6>
                                <p class="text-capitalize">70 properties</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- END POPULAR CITY -->