<div class="slider__property bg-light">

    <div class="slider__property-carousel owl-carousel owl-theme">
        <div class="item">
            <a href="#">
                <img src="images/gallery.jpg" alt="" class="img-fluid">
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="images/gallery1.jpg" alt="" class="img-fluid">
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="images/gallery2.jpg" alt="" class="img-fluid">
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="images/gallery3.jpg" alt="" class="img-fluid">
            </a>
        </div>

        <div class="item">
            <a href="#">
                <img src="images/gallery4.jpg" alt="" class="img-fluid">
            </a>
        </div>

        <div class="item">
            <a href="#">
                <img src="images/gallery5.jpg" alt="" class="img-fluid">
            </a>
        </div>

    </div>

</div>