<div class="clearfix"></div>
    <div class="search__area bg-light">
        <div class="container">
            <div class="search__area-inner">
                <div class="row">
                    {{search}}
                    <div class="col-6 col-lg-3 col-md-3">
                        <div class="form-group">
                            <select class="wide select_option">
                                <option data-display="Property Status">{{dropdown_title}}</option>
                                {{ options }}
                                <option>{{ title }}</option>
                                {{ /options }}

                            </select>
                        </div>
                    </div>
                    {{/search}}
                    <div class="col-12 col-lg-3 col-md-3">
                        <div class="form-group">
                            <div class="filter__price">
                                <input class="price-range" type="text" name="my_range" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-3">
                        <div class="form-group">
                            <button class="btn btn-primary text-uppercase btn-block"> {{ button_text }} <i class="{{ button_icon }}"></i></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>