 <!-- NAVBAR TOP -->
 <div class="topbar d-none d-sm-block">
    <div class="container ">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="topbar-left">
                    <div class="topbar-text">
                        Monday, March 22, 2020
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="list-unstyled topbar-right">
                    <ul class="topbar-link">
                        {{ nav:first_level_navigation}}
                        <li><a href="#" title="">{{ title }}</a></li>
                        
                        {{ /nav:first_level_navigation}}
                    </ul>
                    <ul class="topbar-sosmed">
                        {{ nav:first_level_icons_navigation }}
                        <li>
                            <a href="#"><i class="{{ icon }}"></i></a>
                        </li>
                        
                        {{ /nav:first_level_icons_navigation }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END NAVBAR TOP -->
<nav class="navbar navbar-hover navbar-expand-lg navbar-soft">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="images/logo-blue-stiky.png" alt="" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav99">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav99">
            <ul class="navbar-nav  mx-auto">
                {{ nav:second_level_navigation }}
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown"> {{ title }} </a>
                    <ul class="dropdown-menu dropdown-menu-left animate fade-up">
                        <li><a class='dropdown-item' href='homepage-v1.html'> Home version one </a>
                        </li>
                        <li><a class='dropdown-item' href='homepage-v2.html'> Home version two </a></li>
                        <li><a class='dropdown-item' href='homepage-v3.html'> Home version three </a></li>
                        <li><a class='dropdown-item' href='homepage-v4.html'> Home version four </a></li>
                        <li><a class='dropdown-item' href='homepage-v5.html'> Home version five </a></li>
                    </ul>
                </li>
               
               
               

                {{ /nav:second_level_navigation }}
            </ul>


            <!-- Search bar.// -->
            <ul class="navbar-nav">
                <li>
                    <a href="#" class="btn btn-primary text-capitalize">
                        <i class="fa fa-plus-circle mr-1"></i> add listing</a>
                </li>
            </ul>
            <!-- Search content bar.// -->
            <div class="top-search navigation-shadow">
                <div class="container">
                    <div class="input-group ">
                        <form action="#">

                            <div class="row no-gutters mt-3">
                                <div class="col">
                                    <input class="form-control border-secondary border-right-0 rounded-0" type="search" value="" placeholder="Search " id="example-search-input4">
                                </div>
                                <div class="col-auto">
                                    <a class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right" href="/search-result.html">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!-- Search content bar.// -->
        </div> <!-- navbar-collapse.// -->
    </div>
</nav>